:root {
    --borda: 5ch;
    --margem: 5ch;
    --inativo: #979797;
}

html * {
    font-family: "Inter", sans-serif;
}

body {
    background: linear-gradient(90deg, #EEEEEE 0%, #FFFFFF 100%);
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

span,
small {
    cursor: default;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: var(--margem) 0ch 0ch var(--margem);
}

.card-row {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0ch var(--margem) 0ch var(--margem);
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    aspect-ratio: 3/4;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
    padding: 2ch;
    border-radius: var(--borda);
    -webkit-border-radius: var(--borda);
    -moz-border-radius: var(--borda);
    -ms-border-radius: var(--borda);
    -o-border-radius: var(--borda);
    height: 40ch;
    position: relative;
    margin-bottom: var(--margem);
}

.card-header {
    background: linear-gradient(90deg, #D6768F 0%, #4999DA 100%);
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--borda) var(--borda) 0ch 0ch;
    -webkit-border-radius: var(--borda) var(--borda) 0ch 0ch;
    -moz-border-radius: var(--borda) var(--borda) 0ch 0ch;
    -ms-border-radius: var(--borda) var(--borda) 0ch 0ch;
    -o-border-radius: var(--borda) var(--borda) 0ch 0ch;
    position: absolute;
    top: 0;
}

.inactive .card-header {
    background: var(--inativo);
}

.inactive .card-header .avatar,
.inactive .divider {
    filter: var(--inativo);
    -webkit-filter: var(--inativo);
    filter: grayscale(1);
}

.avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 15ch;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.5));
}

.divider {
    width: 100%;
    position: absolute;
    bottom: 38%;
    z-index: 10;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    z-index: 10;
    position: absolute;
    top: 66%;
}

.person-name {
    font-size: 1.75ch;
}

.icon {
    width: 2ch;
    margin-right: 1ch;
}

.icon:hover {
    cursor: pointer;
}

.content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-grid {
    width: 100%;
}

.content-line {
    display: flex;
    justify-content: space-between;
    margin: 2.25ch 2ch 0ch 2ch;
}