:root{
    --orange1: #E28525;
    --gray1: #016972;
    --black1: #00403F;
}

body{
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Abel', sans-serif;
}

body *{
    color: white;
}

.container{
    background-color: transparent;
    min-width: 66%;
    max-width: 70%;
    display: flex;
    /* flex-wrap: wrap; */
}

.card{
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 6ch 4.5ch;
    width: 33%;
}

.icon{
    width: 8ch;
}

.car-title{
    font-size: 5ch;
    font-family: 'Teko', sans-serif;
    font-weight: 500;
}

.car-description{
    /* font-size: 1ch; */
    max-width: 50%;
}

.sedan{
    background-color: var(--orange1);
    border-radius: 1ch 0 0 1ch;
}
.suv{
    background-color: var(--gray1);
}
.luxury{
    background-color: var(--black1);
    border-radius: 0 1ch 1ch 0;
}

.but{
    border-radius: 2.5ch;
    background-color: transparent;
    width: 40%;
    padding: 1ch 0.5ch;
    outline-color: transparent;
    outline: 0;
}

.but:active{
    background-color: white;
    outline-color: transparent;
    outline: 0;
    border-color: transparent;
}

.sedan .but:active{
    color: var(--orange1);
}
.suv .but:active{
    color: var(--gray1);
}
.luxury .but:active{
    color: var(--black1);
}
