:root {
    --dark: #192A32;
    --dark2: #1D3842;
    --yellow1: #EEAF34;
    --green1: #2DC2C0;
    --grey1: #A7BDC9;
}

body {
    background-color: var(--dark);
    color: var(--dark);
    font-family: 'Coda', cursive;
}

.container {
    margin-top: 5ch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 25ch 0 25ch; */
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    /*flex: 1 0 25%;
    */
    justify-content: center;
    align-items: center;
    border-radius: 3ch;
    max-width: 33%;
    height: auto;
    padding: 8ch;
    margin: 2ch 1ch;
    background-color: var(--dark2);
    filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow( 1px 1px 3px rgba(0, 0, 0, 0.5));
}

.score-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 2ch;
    /* max-width: 28%; */
    /* height: auto; */
    max-height: 9ch;
    min-width: 15ch;
    /* overflow: auto; */
    padding: 3ch 4ch;
    margin: 1.5ch;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
}

.score-card-grid {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 30ch 0 30ch; */
    align-items: center;
    justify-content: center;
}

.score-yellow {
    background-color: var(--yellow1);
}

.score-grey {
    background-color: var(--grey1);
}

.score-green {
    background-color: var(--green1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: center;
    width: 100%;
    padding: 0 31ch 0 31ch;
}

.navbar div span {
    font-size: 5ch;
    font-weight: 800;
}

.X {
    color: var(--green1);
    /* font-family: 'Krona One', sans-serif; */
    font-family: 'Comfortaa', cursive;
}

.O {
    color: var(--yellow1);
    /* font-family: 'Krona One', sans-serif; */
    font-family: 'Comfortaa', cursive;
}

.X-small {
    color: var(--grey1);
    font-family: 'Comfortaa', cursive;
    font-size: 2.5ch !important;
}

.O-small {
    color: var(--grey1);
    font-family: 'Comfortaa', cursive;
    font-size: 2.5ch !important;
}


/* h3 {
    font-weight: 400;
} */

.rodada {
    background-color: var(--dark2);
    border-color: transparent;
    border-radius: 1ch;
    -webkit-border-radius: 1ch;
    -moz-border-radius: 1ch;
    -ms-border-radius: 1ch;
    -o-border-radius: 1ch;
    padding: 0.25ch 4ch;
    color: var(--grey1);
}

.rodada-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.navbar p {
    margin: 0 !important;
}